extends layout

block content
    section(class=dynacard.name)
        input(type='checkbox' class='card-selector') 
        h2 #{dynacard.name}.csv
        p #{dynacard.cardtype.name}
        img(src='/processed/' + dynacard.name + '.png', alt=dynacard.name)
    
    hr
    p
        a(href=dynacard.url +'/delete') Delete Dynacard