extends layout

block content
    each dynacard in dynacards
        section(class=dynacard.name)
            input(type='checkbox' class='card-selector') 
            h2 #{dynacard.name}.csv
            p #{dynacard.cardtype.name}
            a(href=dynacard.url ondblclick='location=this.href' onclick='return false')
              img(src='/processed/' + dynacard.name + '.png', alt=dynacard.name, class='card-img', id=dynacard._id)
    else
        p No Dynacards to Display!
        
block customscript
    script.
        var cardselectors = document.querySelectorAll("input.card-selector");
        cardselectors.forEach( function (selector) {
            selector.addEventListener ('change', function() {
              if (this.checked) {
                var runbutton = document.getElementById('run-button');
                runbutton.style.visibility = 'visible';
              }
              else {
                var checkedSelector=false;
                cardselectors.forEach(function (aSelector) {
                  if (aSelector.checked) {
                    checkedSelector = true;
                    //break;
                  }
                });
                if (! checkedSelector) {
                  let runbutton = document.getElementById('run-button');
                  runbutton.style.visibility = 'collapse';
                }
              }
            });
        })

        var cardimages = document.querySelectorAll("img.card-img");
        //cardimages.forEach( (image) => {
        //  image.addEventListener('dblclick', (e) => {
        //    alert("double click event on image" + e.target.id);
        //  });
        //});
  